body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dropdown-menu-center {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.success {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.danger {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.primary {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.score-footer {
  position: fixed;
  bottom: 0;
}

html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.users-container {
  border-radius: 2px;
  border: 2px solid grey;
}

.game-card {
  width: 18rem !important;
  display: inline-block !important;
}